* {
    margin: 0;
    padding: 0;
}
.navbar-brand {
    margin-left: 10px;
}

#english-flag {
    padding-left: 100px;
}

#dropdownMenuButton {
    color: #5a6268;
}

.mynav .nav-item {
    margin-right: 20px;
    font-size: 20px;
}

.navbar-brand {
    font-size: 20px;
}

.dropdown-menu a:hover{
    color: white !important;
}

.nav-link:hover {
    border-bottom: 2px solid white;
}

.active {
    border-bottom: 2px solid white;
}

.dropdown-item:hover {
    cursor: pointer;
}

nav {
    border-bottom: 4px solid gray;
}

.main {
    width: 300px;
    height: 200px;
    background-color: lightblue;
}

.dropdown-item:hover {
    background-color: #007bff;
}
